

.title {
  text-align: center;
}

.container {
  margin-top: 2rem;
}
.survey-card {
  min-height: 6rem;
}
.col-3 {
  margin-top: 6rem;
}

.logo {
  height: 2rem;
  pointer-events: none;
}
.App {
  text-align: center;
}

.next-button {
  display: flex;
  align-items: center;
}


